*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Gotham", sans-serif;
}

.flex {
    display: flex;
}

.wrapper {
    position: relative;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.section-title {
    position: relative;
    padding: 40px 0 0 0;
    font-size: 44px;
    line-height: 1;
    color: #2c4058;
    font-weight: 700;
    font-family: "Gotham", sans-serif;
    text-align: center;

    &::before {
        content: "";
        display: block;
        width: 2.2em;
        height: 1px;
        background-color: #2c4058;

        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.marker-info {
    font-weight: 900;
    font-size: 22px;
    line-height: 1.2em;
    color: #2c4058;
}
