@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

@font-face {
    font-family: "Gotham";
    src: url("/assets/fonts/gotham-medium-regular.ttf"), url("/assets/fonts/gotham-medium-webfont.woff2"),
        url("/assets/fonts/gotham-medium-webfont.woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("/assets/fonts/gothambold1.eot"), url("/assets/fonts/gothambold1.woff"),
        url("/assets/fonts/gothambold1.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gotham";
    src: url("/assets/fonts/GothamBook.eot"), url("/assets/fonts/GothamBook.woff"), url("/assets/fonts/GothamBook.ttf");
    font-style: normal;
    font-weight: 900;
}
