.section1 {
    &-slider {
        &__slide1 {
            background-image: url(/assets/img/section1-slide1.jpg);
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            max-height: 800px;
            height: 100vh;
        }
    }
}
